@-webkit-keyframes flash {
  0%, 25%, 75%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 25%, 75%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
body{
   	font-family: helvetica;
   	font-size:13.5pt;
   	letter-spacing: 2px;
   	line-height: ;
   	margin:0;
   	padding:0;
    z-index: 1;
}
div{
   	margin:0;
   	padding:0;
   	text-align: center;
}
a{
    text-decoration: none;
    color:black;
}
input{
  	position: absolute;
   	left: -9999px;
}
#countvisit{
  	text-align: left;
  	font-size: 10pt;
   	margin: 0;
   	padding : 5px;
}
.counter{ /*카운터 상자의 모양을 설정합니다*/
    background-color:black; /*배경색*/
    color:yellow;/*글자색상*/
    font-weight:bold;/*글자모양*/
}
.page{
  margin: 0 auto;
  padding: 0 10px;
    height:1200px;
    width:1400px;
    background-color: snow;
}
.navigation{
  	width:50px;
   	height:50px;
   	position:fixed;
   	bottom:5%;
   	left:5%;
   	border-radius: 50px;
   	background-color: darkgray;
   	vertical-align: center;
   	border: 3px solid gray;
    cursor: pointer;
    -webkit-animation: flash 4s infinite;
    animation: flash 4s infinite;
}
.menu1, .menu2, .menu3{
   	width:30px;
   	height:8px;
   	border-radius:25px;
   	background-color: white;
   	margin:3px auto;
}
.menu1{
   	margin-top:10px;
}
.page, .header, .container, .footer, .menubar, .logo{
   	height: auto;
}
.header{
}
.logo{
  	height:50px;
   	margin: 0px auto 20px;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
    color:black;
}
.menubar{
   	height:21px;
   	padding:4px 0;
   	background-color: black;
   	color: white;
   	vertical-align: center;
}
label{
  	width:500px;
   	height: 20px;
   	margin: 2px 5%;
   	padding:3px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.line {
   	width: 1px;
   	height: 17px;
   	margin:0 10px;
   	display: inline-block;
    background-color: white;
}
.container{
   	padding-bottom: 20px;
   }
.sidebar{
   	background-color: #333;
   	width:300px;
   	height: 100%;
   	position: fixed;
   	top:0;
   	left:0;
   	padding-top:5%;
   	vertical-align: center;
   	display: none;
}
.sidebar p{
   	margin: 20px auto;
   	width:200px;
   	display: inline-block;
   	padding: 20px 15%;
   	font-size: 110%;
   	font-weight: bold;
   	color:white;
    cursor: pointer;
    text-align: center;
}
.side_list{
    margin-bottom:10px;
}
.inner_list{
 	display: none;
   	width:150px;
   	height:150px;
   	margin: 10px auto 10px 40px;
}
.inner_list p{
   	margin : 3px;
   	padding: 10px auto 5px 10px;
}
.colorsl, .patternsl{
  display: none;
}
.colorsl{
  height: 620px;
}
.patternsl{
  height: 590px;
}
.inner_blank{
  display: none;
  height: 600px;
}
.sidebar span{
   	display: block;
}
a[href^="event"],a[href^="notice"]{
  color:white;
}
.page_opacity{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: black;
    opacity: 0.6;
    display: none;
}
.content{
   	width: 100%;
   	padding-top:30px;
    margin-bottom:50px;
}
#mainImage{
   	width:1000px;
   	height:200px;
    transition:opacity 1.5s ease;
}
.images{
   	text-align: center;
}
.footer{
    background-color: silver;
    padding:10px 0;
   	height:50px;
   	clear: both;
   	font-size:0.5em;
}
label:hover{
    background-color: white;
    color:black;
}
.sidebar p:hover{
    color: khaki;
}
div:hover .logo{
    font-size: 3em;
    background: rgba(250, 250, 250, 0.5);
    -webkit-transition: 1s 0.2s cubic-bezier(.2, .4, .4, 2);
}
.animats {
  text-align: center;
  margin: 10px auto;
  width:800px;
  height: 600px;
  padding:0;
  background-image: url('#');
  background-size: 50px 50px;
	background-position: 0 0, 25px 25px;
  //opacity: 0.7;
  z-index: -1;
}
.colorselect{
  	margin:0 auto;
  	width:800px;
  	height: 600px;
   	padding: 0;
   	background: url(images/model1.png)0 0;
    background-size: 800px 600px;
	background-repeat: no-repeat;
  z-index: 1;
}
ul{
   	background-color: black; 
   	list-style-type: none;
   	border-radius: 5px;
   	width:120px;
   	padding:0;
   	text-align: center;
}
#selecter1, #selecter2{
   	margin-top: 100px;
    z-index: 2;
}
#selecter1{
   	float: left;
   	margin-left:150px;
    height: 520px;
}
#selecter2{
   	float: right;
   	margin-right:150px;
    height: 460px;
   }
.co_menu, .pa_menu{
   	position: absolute;
   	display: none;
   	text-align: center;
    z-index: 2;
}
li{
   	width:100px;
   	height:50px;
   	margin: 5px auto;
   	padding:0;
   	border: 1px solid white;
   	background-size: 100% 100%;
   	cursor: pointer;
}
.co_menu li, .pa_menu li{
   	height:20px;
   	border: none;
   	border-bottom: 1px solid darkgray;
   	padding-bottom: 1px;
   	background-size: auto;
}
.co_menu li:first-of-type, .co_menu li:nth-of-type(5){
  height:50px;
}
.co_menu li a, .pa_menu li a{
   	color:white;
}
.co_menu li:last-of-type, .pa_menu li:last-of-type{
  	border:none;
}
#blackjeanimage {
   	background-image:url(images/bagics/black-jean.jpg);
}
#blueimage {
   	background-image:url(images/bagics/blue.jpg);
}
#bluejeanimage {
   	background-image:url(images/bagics/blue-jean.jpg);
}
#brownimage {
   	background-image:url(images/bagics/brown.jpg);
}
#orangebrownimage {
    background-image:url(images/bagics/orangebrown.jpg);
}
#pinkimage {
   	background-image:url(images/bagics/pink.jpg);
   }
#redimage {
   	background-image:url(images/bagics/red.jpg);
}
#skyblueimage {
   	background-image:url(images/bagics/skyblue.jpg);
}
#yellowimage {
    background-image:url(images/bagics/yellow.jpg);
}
#dotimage {
  	background-image:url(images/pattern/dot.jpg);
}
#dot2image {
   	background-image:url(images/pattern/dot2.jpg);
}
#dot3image {
  	background-image:url(images/pattern/dot3.jpg);
}
#stripeimage {
  	background-image:url(images/pattern/stripe.jpg);
}
#stripe2image {
   	background-image:url(images/pattern/stripe2.jpg);
}
#stripe3image {
   	background-image:url(images/pattern/stripe3.jpg);
}
#stripe4image {
   	background-image: url(images/pattern/stripe4.jpg);
}
#stripe5image {
    background-image: url(images/pattern/stripe5.jpg);
}
button{
   	cursor: pointer;
    background-color: black;
    color:white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-right: 300px;
}
#clickme{
  cursor:pointer;
}
.side_home{
  display: none;
}
#drawyour{
  display:none;
  background-color: white;
  position: fixed;
  margin: 10% auto;
  width:50%;
  height: 50%;
  z-index: 5;
}
button[id="btnDel"],button[id="btnSave"]{
  margin: 20px auto;
}
button[id="popdraw"]{
  margin: 0;
  float: right;
}
#drawopacity{
  top:0;
  left: 0;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0,0,0,.8);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { 
  body{
    font-size:12pt;
    letter-spacing: 1.7px;
    }
  .page{
    padding: 0 0px;
    height:auto;
    width:100%;
  }
  div:hover .logo{
    font-size: 3em;
    -webkit-transition: none;
  }
  .logo{
    font-family: helvetica-bold;
    font-size: 3em;
    font-weight: bold;
  }
  .page, .header, .container, .footer, .menubar, .logo{
    height: auto;
  }
  .menubar{
    height:10px;
  }
  label{
    display: none;
  }
  #countvisit{
    display:none;
  }
  .sidebar{
    width:100%;
    position: absolute;
  }
  .sidebar p{
    margin: 10px auto;
  }
  #mainImage{
    width:100%;
    height: 30%
  }
  .footer{
    height:20px;
    display: none;
  }
  .animats {
  margin-top: 100px;
  width:100%;
  height: 400px;
  background-size: 100px 100px;
  z-index: -1;
  }
  .colorselect{
    width:100%;
    height: 400px;
    background-size: 100% 400px;
  }
  .line{
    display: none;
  }
  ul{
    width:15%;
  }
  #selecter1, #selecter2{
    margin-top: 50px;
  }
  #selecter1{
    margin-left:2%;
  }
  #selecter2{
    margin-right:2%;
   }
  li{
    width:80%;
    margin: 5px auto;
  }
  button{
    margin-right: 0px;
  }
  #clickme{
    display: none;
  }
  .side_home{
    display: block;
  }
  .colorsl{
    height: 700px;
  }
  .inner_blank{
    height: 660px;
  }
}