body{
	font-family:"Nanum Gothic", "Gulim", "Malgun Gothic";
	line-height: 24px;
	font-size: 16px;
}
.page{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.2);
	margin: 0px;
	padding: 30px;
	position: fixed;
	top:0;
	left:0;
}
.chargeForm{
	border-top: 4px solid black;
	margin:30px auto;
	width:600px;
	height:300px;
	background-color: snow;
	padding:20px;
	padding-left:40px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.ss-q-title{
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 10px;
}
input{
	color:gray;
}
.error-message{
	color:tomato;
	font-size: 0.7em;
}
#ss-submit{
	margin-top:40px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { 
	.chargeForm{
		border-top: 10px solid black;
		width:100%;
		padding-left:0px;
	}
} /*iPhone 4+ galaxy series*/