@-webkit-keyframes flash {
  0%, 25%, 75%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 25%, 75%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
}
body{
   	font-family: helvetica;
   	font-size:13.5pt;
   	letter-spacing: 2px;
   	line-height: ;
   	margin:0;
  	padding:0;
}
div{
   	margin:0;
   	padding:0;
   	text-align: center;
}
a{
    text-decoration: none;
    color:black;
}
input[type="radio"]{
   	position: absolute;
   	left: -9999px;
}
#countvisit{
   	text-align: left;
   	font-size: 10pt;
   	margin: 0;
   	padding : 5px;
}
a[href^="event"],a[href^="notice"]{
  color:white;
}
.counter{ /*카운터 상자의 모양을 설정합니다*/
    background-color:black; /*배경색*/
    color:yellow;/*글자색상*/
    font-weight:bold;/*글자모양*/
}
.page{
    width:1000px;
}
.navigation{
  	width:50px;
   	height:50px;
   	position:fixed;
   	bottom:5%;
   	left:5%;
   	border-radius: 50px;
   	background-color: darkgray;
   	vertical-align: center;
   	border: 3px solid gray;
    cursor: pointer;
    -webkit-animation: flash 4s infinite;
    animation: flash 4s infinite;
}
.menu1, .menu2, .menu3{
   	width:30px;
   	height:8px;
   	border-radius:25px;
   	background-color: white;
   	margin:3px auto;
}
.menu1{
   	margin-top:10px;
}
.page, .header, .container, .footer, .menubar, .logo{
   	width: 100%;
   	height: auto;
}
.header{
}
.logo{
  	height:50px;
   	margin: 0px auto 20px;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
    color:black;
}
.menubar{
   	height:21px;
   	padding:4px 0;
   	background-color: black;
   	color: white;
   	vertical-align: center;
}
label{
   	width:20%;
  	height: 20px;
   	margin: 2px 5%;
   	padding:3px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
.line {
   	width: 1px;
   	height: 17px;
   	margin:0 10px;
   	display: inline-block;
    background-color: white;
}
.container{
   	padding-bottom: 20px;
    margin-top:10px;
}
.sidebar{
  	background-color: #333;
   	width:300px;
   	height: 100%;
  	position: fixed;
   	top:0;
   	left:0;
   	padding-top:5%;
   	vertical-align: center;
   	display: none;
    z-index: 1;
}
.sidebar p{
   	margin: 20px auto;
   	width:200px;
   	display: inline-block;
   	padding: 20px 15%;
   	font-size: 110%;
   	font-weight: bold;
   	color:white;
    cursor: pointer;
    text-align: center;
}
.side_list{
   	margin-bottom:10px;
}
.inner_list{
   	display: none;
   	width:150px;
   	height:150px;
   	margin: 10px auto 10px 40px;
}
.inner_list p{
   	margin : 3px;
   	padding: 10px auto 5px 10px;
}
.colorsl, .patternsl{
  display: none;
}
.colorsl{
  height: 620px;
}
.patternsl{
  height: 590px;
}
.inner_blank{
  display: none;
  height: 600px;
}
.sidebar span{
   	display: block;
}
a[href^="event"]{
  color:white;
}
a[href^="notice"]{
  color:white;
}
.page_opacity{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: black;
    opacity: 0.6;
    display: none;
}
.content{
  	width: 100%;
   	vertical-align: center;
   	padding-top:30px;
}
.item{
   	margin:30px auto;
}
.item span{
   	width:100px;
   	height:50px;
   	margin: 10px 20px;
   	padding: 5px 30px;
}
label:hover{
    background-color: white;
    color:black;
}
.sidebar p:hover{
    color: khaki;
}
div:hover .logo{
    font-size: 3em;
    background: rgba(250, 250, 250, 0.5);
    -webkit-transition: 1s 0.2s cubic-bezier(.2, .4, .4, 2);
}
ul{
  	background-color: black; 
   	list-style-type: none;
   	border-radius: 5px;
   	width:120px;
   	padding:0;
   	text-align: center;
}
.co_menu, .pa_menu{
   	position: absolute;
   	display: none;
   	text-align: center;
   	z-index: 1;
}
li{
   	width:100px;
   	height:50px;
   	margin: 5px auto;
   	padding:0;
   	border: 1px solid white;
   	background-size: 100px 50px;
   	cursor: pointer;
}
.co_menu li, .pa_menu li{
   	height:20px;
   	border: none;
   	border-bottom: 1px solid darkgray;
   	padding-bottom: 1px;
   	background-size: auto;
}
.co_menu li a, .pa_menu li a{
   	color:white;
}
.co_menu li:last-of-type, .pa_menu li:last-of-type{
   	border:none;
}
.co_menu li:first-of-type{
  height: 50px;
}
.co_menu li:nth-of-type(5){
  height: 50px;
}
.goods{
    margin: 50px auto;
}
.goods img{
    width:300px;
    height:400px;
    -webkit-animation: flash 4s infinite;
    animation: flash 4s infinite;
    display:inline-block;
    z-index: -1;
}
.goodsInform{
    display: inline-block;
    text-align: left;
    margin:20px 20px;
    position:relative;
    bottom:100px;
    line-height: 20px;
}
.recomGoods{
    border:1px solid lightgray;
    margin: 10px auto;
    padding: 30px 10px;
    width: 800px;
    text-align: left;
}
.recomGoods p{
  margin-left: 30px;
}
.recomGoods img{
    width: 200px;
    height: 300px;
    margin: 20px 30px;
}
.preview{
  color:black;
  width:800px;
  text-align: left;
  margin: 10px auto;
  padding:10px;
  border:1px solid darkgray;
  border-radius: 5px;
  background-color: beige;
}
.preview img{
    display:block;
    margin:20px auto;
    width: 800px;
}
.footer{
    background-color: silver;
    padding:10px 0;
    height:50px;
    clear: both;
    font-size:0.5em;
}
.inner_blank{
  display: none;
  height: 600px;
}
.side_home{
  display: none;
}
.orderpage{
  z-index: 2;
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(20,20,20,.8);
  margin: 0px;
  padding: 30px;
  position: fixed;
  top:0;
  left:0;
}
.chargeForm{
  border-top: 4px solid black;
  margin:30px auto;
  width:600px;
  height:400px;
  text-align: left;
  background-color: snow;
  padding:20px;
  padding-left:40px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.chargeForm div{
  text-align: left;
}
.ss-q-title{
  font-weight: bold;
  color:black;
  margin-bottom: 8px;
  margin-top: 10px;
}
input[type="text"], input[type="number"]{
  color:gray;
}
.error-message{
  color:tomato;
  font-size: 0.7em;
}
#ss-submit{
  margin-top:40px;
}
#toback{
  color:white;
  width: 80%;
  margin-right:10%;
  cursor: pointer;
  text-align: right;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { 
  body{
    font-size:12pt;
    letter-spacing: 1.7px;
    }
  .page{
    padding: 0 0px;
    height:1200px;
    width:100%;
  }
  div:hover .logo{
    font-size: 3em;
    -webkit-transition: none;
  }
  .logo{
    font-family: helvetica-bold;
    font-size: 3em;
    font-weight: bold;
  }
  .page, .header, .container, .footer, .menubar, .logo{
    height: auto;
  }
  .menubar{
    height: 10px;
    width: 100%;
  }
  .line{
    display: none;
  }
  label{
    display: none;
  }
  .sidebar{
    width:100%;
    height: 150%;
    position: absolute;
  }
  .sidebar p{
    margin: 10px auto;
  }
  .footer{
    height:20px;
  }
  .goods img{
    width:60%;
    height:auto;
  }
  .goodsInform{
    margin:20px 10px;
    bottom:0%;
    line-height: 10px;
  }
  .recomGoods{
    width: 80%;
    height: 20%;
    margin: 10px auto;
  }
  .recomGoods img{
    width: 30%;
    height: 200px;
    margin: 10px auto;
  }
  .preview{
    margin:10px auto;
    width: 80%;
  }
  .side_home{
    display: block;
  }
  .colorsl{
    height: 700px;
  }
  .inner_blank{
    height: 660px;
  }
  .orderpage{
    padding-left:0;
    background-color: black;
  }
  .chargeForm{
    border-top: 10px solid black;
    width:100%;
    padding-left:10px;
  }
}