@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
body{
	font-family:"Nanum Gothic", "Gulim", "Malgun Gothic";
	line-height: 24px;
	font-size: 16px;
}
.page{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.2);
	margin: 0px;
	padding: 30px;
	position: fixed;
	top:0;
	left:0;
}
.chargeForm{
	border-top: 4px solid black;
	margin:30px auto;
	width:600px;
	height:300px;
	background-color: snow;
	padding:20px;
	padding-left:40px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
h2{
	text-align: center;
	margin-bottom:80px;
}
p{
	margin-bottom: 5px;
	margin-top: 5px;
	font-size:14px;
	color: DarkSlateGray;
	letter-spacing: 1px;
}
#comeback{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.chargeForm div{
	float:right;
	margin-top:100px;
    -webkit-animation: flash 4s infinite;
    animation: flash 4s infinite;
}
.chargeForm div:hover{
    -webkit-animation: flash 1s infinite;
    animation: flash 1s infinite;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { 
	.chargeForm{
		border-top: 10px solid black;
		width:100%;
		padding-left:0px;
	}
}